# Maven
target/
*.jar
*.war
*.ear

# IDEs
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs & temp files
*.log
*.tmp

# Uploads
uploads/
*.db

# Spring Boot config 
application-dev.yml

# Compiled class files
*.class

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.nar
*.zip
*.tar.gz
*.rar

# Virtual machine crash logs
hs_err_pid*
replay_pid*
